body {
  margin: 0;
  padding: 0;
}

ul, li {
  display: block;
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

.selectedAction {
  font-size: 40px;
  text-align: right;
  padding-top: 10px;
}


.calculator {
  display: flex;
  align-items: center;
  margin: auto;
  width: 400px;

}

.calculator form {
  margin-right: 10px;
}

.calculator__inputs {
  margin-bottom: 20px;
}

.calculator__inputs input {
  border: none;
  text-align: right;
  font-size: 40px;
  width: 260px;
}

.calculator__result {
  border-top: 3px solid rgb(189,189,189);
  font-size: 40px;
  text-align: right;
  padding-top: 10px;

}

.calculator__keyboard {
  padding-top: 10px;

}

.row {
  display: flex;

}

.row button {
  height: 60px;
  width: 60px;
  font-size: 40px;
  border: none;
  border-radius: 5px;
  margin: 5px;
  color: rgb(146,146,146);
  outline: none;
  cursor: pointer;
  transition: all .3s;
}

.row button:hover {
  transition: all .3s;
  color: rgb(41,41,41);


}
.row-result button {
  width: 100%;
}

.row-reset button {
  width: 100%;
}